@charset "utf-8";

.Container {
	height: 1000px;
	width: 1024px;
	border: medium solid white;
	background-color: black;
	margin-left: auto;
	margin-right: auto;
}
.Header {
	width: 1024px;
	height: 170px;
	margin-left: auto;
	margin-right: auto;
	border-bottom: medium solid white;
}
.Main {
	height: auto;
	width: 1024px;
	margin-right: auto;
	margin-left: auto;
}
.column1 {
	height: auto;
	width: 236px;
	color: ghostwhite;
	float: left;
	padding: 10px;
}
.column1 h2 {
	padding: 10px;	
}
.column2 {
	height: auto;
	width: 748px;
	color: floralwhite;
	float: right;
	padding: 10px;
}
.column3 {
	height: 754px;
	width: 730px;
	float: right;
}
.Footer {
	height: 50px;
	width: 1024px;
	margin-right: auto;
	margin-left: auto;	
	float: left;
}
